{
  "presets": [["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }], "@babel/preset-react"],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }], ["@babel/plugin-proposal-class-properties", { "loose" : true }], "transform-function-bind", "@babel/plugin-syntax-dynamic-import", "transform-flow-strip-types", "react-hot-loader/babel" ,"@babel/transform-runtime"]
}
