@import "./constants/styles";

@font-face {
    font-family: $titleFont;
    src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: $titleFont;
    src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
    font-weight: bold;
}


@font-face {
    font-family: $contentFont;
    src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
}


body{
  background:url('./assets/pattern-black.png') !important;
  background-color: appBackgroundColor !important;
  background-attachment: fixed !important;
  min-height: 100vh;
  margin: 0px;
  font-family: $contentFont;
  scrollbar-face-color: rgba(0, 0, 0, 0.25);
  scrollbar-track-color: rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
  }
}

input, textarea, select, button{
    font-family: $contentFont;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  transition: color 0.2s ease;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}
