@import "./constants/styles";

body{
  background:url('./assets/pattern-black.png') !important;
  background-color: $appBackgroundColor !important;
  background-attachment: fixed !important;
  min-height: 100vh;
}
