@import '../../constants/styles.css';

.container{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: 100%;
  user-select: none;
  align-items: center;
}
.inFeed.container{
  font-size: 1em;
}

.title{
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.maintitle{
  margin: 10px;
  font-size: 2em;
}
.inFeed.maintitle{
  font-size: 1.5em;
}

.handchartContainer{
  border-collapse: collapse;
  font-weight: bold;
  color: subtitleColor;
}
.inFeed.handchartContainer{
  font-size: 0.8em;
}
.hand{
  border:1px solid #d0d0da;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  background-color: #f2f2f2;
}
.hand:hover{
  font-weight: bold;
  background-color: #f2f2f2;
  transform: scale(2.5);
}

.legend{
  font-size: 2.2vmin;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding:2em 0;
}
.label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.label.disabled{
  color: subtitleColor;
}
.labelColor{
  height:15px;
  width:15px;
  margin-right:5px;
}
