@import '../../constants/styles.css';

.spotContainer{
}

.players{
  overflow-y: auto;
  flex: 1;
}

.playerRow{
  display: flex;
  margin-top: 7px;
  padding-bottom: 25px;
  align-items: flex-end;
  border-bottom: 1px solid $divider;
}

.autosuggest{
  position: relative;
}

.suggestionsContainer{
  position: absolute;
  display: none;
  width: 100%;
  background-color: $white;
  max-height: 14.4em;
  overflow-y:auto;
  border-radius: 8px;
  margin-top: -10px;
  z-index: 1;
}
.suggestionsContainerOpen{
  display: block;
}

.suggestionsList{
  border: 1px solid $divider;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion{
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid $divider;
}
.suggestionHighlighted{
  background-color: hoverSelectItemColor;
}

.suggestionItem{
  display: flex;
  align-items: center;
}

.raiseInput>input{
  width: 5vw;
  padding: 0 5px;
}

.dealerCardsInput{
  margin:0 5px !important;
}
.dealerCardsInput>input{
  width: 50px;
}

.generalSettingsContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blinds{
  display: flex;
  border-bottom: 1px solid $divider;
  padding-bottom: 30px;
}
