@import '../../../constants/styles.css';
@import "../../../constants/autosuggestStyle";
@import '../Input/style.css';

.selectContainer{
  position: relative;
  flex: 1;
  margin: 0 6px;
}

.suggestionsContainerOpen{
  margin-top: -11px;
}

.suggestionItem{
    padding: 0.5em 0 0.5em 1em;
}


.selectedItem{
  background-color: #41c86a80
}

.arrow{
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
  border-top: solid 5px #bfbfbf;
  margin: auto 7px;

  transition: transform 300ms ease;
}

.containerOpen{
  .arrow{
    transform: rotate( 180deg );
  }
}
