@import "../../constants/styles";

.container{
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.row{
  cursor: pointer;
}
.row:hover{
  background-color: #F9F9F9;
}
.expendedrow{
  background-color: #ececec;
}
