@import "../../constants/styles.css";

.landing{
  color: landingTextColor;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.sectionOne{
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.header{
  width: 100%;
  display: flex;
}

.title{
  flex: 1;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.mainContent{
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  max-width: 1300px;
}

.mobileMainContent{
    flex-direction: column;
}

.leftMain{
  flex-basis: 40%;
}

.rightMain{
  flex-basis: 40%;
}

.line{
  background-color: landingLineColor;
  width: 116px;
  height: 1em;
  margin: 1em 0;
}

.smallHeader{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  color: checkColor;
}
.sectionHeader{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4.5vw;
  margin: 0.2em 0;
  color: white;
}
.sectionDescription{
  text-transform: uppercase;
  font-size: 1.5em;
  color: landingLineColor;
  margin-top: 2.1em;
  margin-right: 8vw;
  display: flex;
  justify-content: space-around;
}

.link{
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: bold;
  margin: 0.5em;
}
.link:hover{
  color: white;
}

.formDescription{
  margin-left: 2em;
  margin-top: 4em;
  margin-bottom: 1em;
}

.mobileDesc{
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.terms{
  margin: 0.5em 2em;
}

.login{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.loginButton{
  margin: 0px;
}
.signupButton{
  margin-top: 10px;
}

.loginForm{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.loginMessage{
  position: absolute;
  right: -6px;
  top: 80%;
}
.forgotPassword{
  margin: 0 6px;
  color: #25aae1;
  text-transform: none;
  cursor: pointer;
}

.divider{
  width: 1px;
  background-color: landingLineColor;
}

.uppercase{
  text-transform: uppercase;
}
