@import "../../constants/styles.css";

.container{
  height: 20vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray;
}

/*.title{
  color: $titleColor;
  font-size: 300%;
}*/

/*.coverImage{
  max-height: 20vh;
}*/
