@import '../../constants/styles';

.multiCardsContainer{
  display: flex;
}
.multiCardsContainer.mobile{
  flex-direction: column;
}

.cardSelectionContainer{
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.4em 0em 0.4em;
  /* remove when remove semantic ui*/
  box-sizing: initial;
}

.sideDivider{
  width: 1px;
  background: #f0f0f0;
  margin: 8px 0;
}

.divider{
  border-top: 1px solid #f0f0f0;
  margin: 0.3em 0 0.4em 0;
}
.signLine{
  display: flex;
  justify-content: space-between;
}
.rankLine{
  display: flex;
  justify-content: space-between;
}

.card{
  border-radius: 5px;
  padding: 0.4em 0.5em;;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #24222e;
}
.rankCard{
  font-size: 1.1em;
}
.signCard{
  margin: 0.1em;
}

.signCardImg{
  height: 1.4em;
}
.rankCard:hover{
  color: checkColor;
}
.signCard:hover{
  color: checkColor;
}

.selected, .selected:hover{
  background-color: checkColor;
  color: white;
}
