.clickable{
  cursor: pointer;
}

.unselectable{
  user-select: none;
}

.post{
  box-shadow: 1px 1px #dfdfdf;
  border-radius: 2px;
}

.blackIcons:hover .icon, .standaloneUnselectable:hover{
  color: black !important;
}
.active .icon{
  color: #FF2733 !important;
}

.standalone {
  display: flex;
  width: 100%;
}

.standalone>.clickable {
  margin-left: 10px;
  margin-right: 20px;
}

.standalone>.clickable>img {
  max-height: 150px;
  border-radius: 5rem;
}

.standaloneContent {
  flex: 1;
  vertical-align: top;
  position: relative;
}

.standaloneContentMeta {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .85714286em;
  margin: 0.3em;
}

.standaloneSummary {
  text-align: left;
  position: absolute;
}

.standaloneSummaryDate {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-size: .85714286em;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0,0,0,.4);
}

.standaloneText {
  padding-top: 40px;
  width: 100%;
}

.standaloneUnselectable {
  opacity: 1;
  color: rgba(0,0,0,.5);
  position: relative;
  margin-left: .75em;
  cursor: pointer;
}

.standaloneReply {
  float: left;
}

.standaloneComment {
  text-align: left;
}

.standaloneCommentText {
    height: min-content;
}

.standaloneImage{
  width: 100%;
}
