@import '../../constants/styles.css';

.container{
  margin: auto;
  width: 75%;
  min-width: 600px;
}

.clickable{
  cursor: pointer;
}

.unselectable{
  user-select: none;
}

.post{
  box-shadow: 0 0 10px 0 #000000;
  border-radius: 10px;
  display: flex !important;
  flex-direction: column !important;
}

.blackIcons:hover .icon, .standaloneUnselectable:hover{
  color: black !important;
}
.active .icon{
  color: #FF2733 !important;
}

.standalone {
  display: flex;
  width: 100%;
}

.standalone>.clickable {
  margin-left: 10px;
  margin-right: 20px;
}

.standalone>.clickable>img {
  max-height: 150px;
  border-radius: 5rem;
}

.standaloneContent {
  flex: 1;
  vertical-align: top;
  position: relative;
}

.standaloneContentMeta {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .85714286em;
  margin: 0.3em;
}

.standaloneSummary {
  text-align: left;
  position: absolute;
}

.standaloneSummaryDate {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-size: .85714286em;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0,0,0,.4);
}

.standaloneText {
  padding-top: 40px;
  width: 100%;
}

.standaloneUnselectable {
  opacity: 1;
  color: rgba(0,0,0,.5);
  position: relative;
  margin-left: .75em;
  cursor: pointer;
}

.standaloneReply {
  float: left;
}

.standaloneComment {
  text-align: left;
}

.standaloneCommentText {
    height: min-content;
}

.standalonePhotoContainer{
  height: auto !important;
}

.galleryContainer{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .galleryImage{
    height: 100%;
    text-align: center;
  }
}









/* regular post */
.postHeader{
  display: flex;
  width: 100%;
  color: textColor;
  border-bottom: 1px solid $divider;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0 1.5em;
  width: 96%;
}
.leftPane{
  flex: 1;
  display: flex;
}
.rightPane{
  display: flex;
  align-items: flex-start;
  padding-top: 0.5em;
}

.likeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTextContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.headerTextTitle{
  font-weight: bold;
  cursor: pointer;
  color: #24222e;
}


.postContent{
  padding: 1em 1.5em;
  border-bottom: 1px solid commentsDividerColor;
}

.photosContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mediaContainer{
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

.mediaItem {
  max-width: 100%;
  object-fit: contain;
  max-height: 50vh;
}

.postComments{
  background-color: commentsBackgroundColor;
  padding: 0.5em 1.5em;
  border-radius: 0 0 10px 10px;
}
.noCommentsSection{
  border-radius: 0 0 10px 10px;
}

.replyContainer{
  display: flex;
  align-items: center;
  color: #9197a3;
}

.commentTextBox{
  background-color: white;
  border-radius: 8px;
  border: solid 1px textColor;
  flex: 1;
  display: flex;
  color: black;
}

.commentPlaceholder{
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  color: textColor;
}

.shareMenu{
  width: 9em;
  padding: 1em;
}
.shareMenuItem{

}

.eventSection{
  display: flex;
  background-color: textColor;
  color: white;
  padding: 0 2.2em;
  align-items: center;
}
.eventSection:hover{
  color: white;
}
.eventLocation{
  font-weight: bold;
  margin-left: 0.5em;
}

/* comment component */
.commentContainer{
  display: flex;
  margin: 2em 0;
}
.commentRightPane{
  flex: 1;
}

.commentDescription{
  color: textColor;
  display: flex;
}

.commentContent{
  display: flex;
  flex-direction: column;
  padding-top: 0.7em;
}
.commentOwner{
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.commentTime{

}

.divider{
  margin: 0 0.5em;
  width: 1px;
  background-color: textColor;
}
.commentLike{
  cursor: pointer;
  color: linkColor;
}
.commentLike.active{
  color: hoverLinkColor;
}
.commentLike:hover{
  color: hoverLinkColor;
}
.commentLikeLength{
  padding-left: 0.5em;
}
.commentDelete{
  cursor: pointer;
  color: linkColor;
}
.commentDelete:hover{
  color: hoverDeleteColor;
}

.signupContainer{
  display: flex;
  justify-content: center;
}
