@import "../../constants/styles";
@import "../../constants/autosuggestStyle";

.container {
  position: fixed;
  width: 20%;
}

.navbarItem {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
}

.navbarRouteItem {
  @extend .navbarItem;

  color: #f0f0f0;
  margin-top: 1.1em;
}

.navbarRouteItem:hover {
  color:$activeButton;
}

.navbarRouteItemActive {
  color:$activeButton;
}

.navbarSection {
  @extend .navbarItem;

  color: #a0a0b5;
  margin-top: 2em;
}

.notification{
  padding: 0.17em 0.5em;
}
