.card {
  display: flex;
  align-items: center;
  padding: 0.7em;

  img {
    border-radius: 50%;
    width: 2.7em;
    height: 2.7em;
    margin-right: 0.65em;
  }
}

.header {
  font-size: 0.85em;
}

/* .subheader {
  color: #a0a0b5;
  font-size: 0.85em;
} */
