@import '../Input/style.css';


.box{
  margin-left: 0.6em;
}

.checkboxLabel{
  @extend .input;
  padding: 0.3em 0 0.5em 0.3em;
}

.checkboxContainer{
  @extend .inputContainer;
  align-items: center;
  border: 0px;
  margin: 0;
}

.autoWidth{
  width: auto;
}

.centered {
  align-self: center;
}
