@import '../../constants/styles';

.info {
  color: #a2a2a2;
  opacity: 0.3;
  text-align: right;
  padding-right: 1em;
}

.addPostContent{
  border-radius: .625em;
  margin-top: .375em;
  background-color: white;
}

.buttonsPanel {
  display: flex;
  align-items: center;
  color: #24222e;
  font-size: 0.875em;
  justify-content: space-between;
  padding: 0.375em;
  border-top: 1px solid #e4e4e4;
}

.editPostButtons{
  display: flex;
  align-items: center;
  padding: 0.7em 1em;
  width: 60%;
  justify-content: space-between;

  .insert {
    color: #a0a0b5;
  }
}

.imagesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.imagePreview{
  position: relative;
  height: 5em;
  margin: 0.3em;
}

.image {
  height: inherit;
}

.imagePreviewOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(36,34,46,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteImage{
  background-image: url('../../assets/actions/delete.png');
  height: 34px;
  width: 34px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.deleteImage:hover{
  background-image: url('../../assets/actions/delete-hover.png');
}


.imagePreviewOverlay:hover{
  opacity: 1;
}

.spotWPreview{
  position: relative;
}

.spotPreviewOverlay{
  background-color: rgba(36,34,46,0.8);
  opacity: 0.7;
  padding: 1.3em;
  display: inline-block;
  border-radius: 50%;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #000000;
  position: absolute;
  bottom: 0;
}

.spotPreviewOverlay:hover{
  opacity: 1;
}

.multiCardsContainer{
  display: flex;
}

.cardSelectionContainer{
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
}

.sideDivider{
  width: 1px;
  background: #f0f0f0;
  margin: 8px 0;
}

.divider{
  border-top: 1px solid #f0f0f0;
  margin: 8px 0;
}
.signLine{
  display: flex;
  justify-content: space-between;
}
.rankLine{
  display: flex;
  justify-content: space-between;
}

.card{
  border-radius: 5px;
  padding: 2px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #24222e;
  font-size: 1.1em;
}
.rankCard{
  width: 1.6vw;
  height: 1.9vw;
}
.signCard{
  width: 2vw;
  height: 2vw;
}

.rankCard:hover{
  color: checkColor;
}
.signCard:hover{
  color: checkColor;
}

.selected{
  background-color: checkColor;
}

.removeSpot{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}
