@import '../../constants/styles';

.info {
  color: #a2a2a2;
  opacity: 0.3;
  text-align: right;
  padding-right: 1em;
}

.addPostContent{
  border-radius: .625em;
  margin-top: .375em;
  background-color: white;
}

.panelInEditPost{
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  font-size: 0.875em;
  padding: 0 0.375em;

  .label {
    color: #a0a0b5;
    padding-left: 1em;
  }
}

/* action buttons */

.buttonsPanel {
  @extend .panelInEditPost;
  color: #24222e;
}

.editPostButtons{
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;

  .actionButtons {
    display: flex;
    align-items: center;

    justify-content: space-around;
    width: 50%;
  }
}

/* event */
.eventPanel {
  @extend .panelInEditPost;
}

.removeEvent {
  color: #41c86a;
  cursor: pointer;
}

/* search event */
.autosuggest {
  position: relative;
  margin-right: 1em;
  margin-left: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.autosuggestInput,.autosuggestInput:disabled{
  opacity: 0.6;
  border-width: 0;
  border-radius: 0.6em;
  height: 2.3em;
  width: 10em;
  color: #535168;
  background-color: inherit;
}

.autosuggestInput:focus{
  outline: 0;
}

.autosuggestInputActive{
  background-color: #535168;
}

.suggestion{
  cursor: pointer;
  border-bottom: 1px solid $divider;
  border-radius: 0.45em;
}

.suggestionsContainer{
  position: absolute;
  display: none;
  width: 130%;
  background-color: $white;
  max-height: 14.4em;
  overflow-y:auto;
  border-radius: 0.45em;
  margin-top: 1px;
  z-index: 1;
}
.suggestionsContainerOpen{
  display: block;
}

.suggestionsList{
  border: 1px solid $divider;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestionsList:last-child{
  border-bottom: 0;
}

.suggestionItem {
  border: white solid .1em;
  border-radius: 0.45em;
  padding: 0.3em 0.7em;

  .subheader{
    color: #a0a0b5;
    white-space: pre;
  }

  .subheader:hover{
    color: white;
  }
}

.suggestionHighlighted{
  background-color: #41c86a;
  color: white;

  .suggestionItem{
    border: white solid .1em;

    .subheader{
      color: white;
    }
  }
}



/* media preview*/
.imagesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.imagePreview{
  position: relative;
  height: 7em;
  margin: 0.3em;
}

.image {
  position: relative;
  width: inherit;
  height: 100%;
}

.imagePreviewOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(36,34,46,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteImage{
  background-image: url('../../assets/actions/delete.png');
  height: 34px;
  width: 34px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.deleteImage:hover{
  background-image: url('../../assets/actions/delete-hover.png');
}


.imagePreviewOverlay:hover{
  opacity: 1;
}

/* spot */
.spotWPreview{
  position: relative;
}

.spotPreviewOverlay{
  background-color: rgba(36,34,46,0.8);
  opacity: 0.7;
  padding: 1.3em;
  display: inline-block;
  border-radius: 50%;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #000000;
  position: absolute;
  bottom: 0;
}

.spotPreviewOverlay:hover{
  opacity: 1;
}


/* card selection */
.multiCardsContainer{
  display: flex;
}

.cardSelectionContainer{
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
}

.sideDivider{
  width: 1px;
  background: #f0f0f0;
  margin: 8px 0;
}

.divider{
  border-top: 1px solid #f0f0f0;
  margin: 8px 0;
}
.signLine{
  display: flex;
  justify-content: space-between;
}
.rankLine{
  display: flex;
  justify-content: space-between;
}

.card{
  border-radius: 5px;
  padding: 2px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #24222e;
  font-size: 1.1em;
}
.rankCard{
  width: 1.6vw;
  height: 1.9vw;
}
.signCard{
  width: 2vw;
  height: 2vw;
}

.rankCard:hover{
  color: checkColor;
}
.signCard:hover{
  color: checkColor;
}

.selected{
  background-color: checkColor;
}

.removeSpot{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}
