.betLabelContainer{
  width: 100%;
  margin: 5% auto;
  font-size: initial;
}
.betLabel{
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 3px;
  border-radius: 20%;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.dealerBetContainer{
  width: 100%;
  font-size: initial;
  position: absolute;
  top: -20%;
  margin: 0;
}
.dealerBet{
}
