.deck{
  list-style-type: none;
  display: flex;
  padding: 0;
}
.hand>li{
  margin-right: -2.3vw;
}
.rotate>li{
  transform: rotate(-10deg);
}

.dealer>li:nth-child(3){
  margin-right: 0.5vw;
}
.dealer>li:nth-child(4){
  margin-right: 0.5vw;
}

.card {
  background-color: white;
  /*margin: 5%;*/
  border-radius: 7%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  display: flex;
  position: relative;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 80ms ease-in;
  padding-bottom: 1%;
}
.hover:hover{
  margin-top: -2vw;
}
.active{
  margin-top: -2vw;
}

.card:before, .card:after {
  position: absolute;
  line-height: 85%;
  font-size: 40%;
  width: 1.16em;
  word-wrap: break-word;
}

.card:before {
  content: attr(data-letter);
  left: 10%;
  top: 5%;
  text-align: left;
}

.card:after {
  content: attr(data-reverse-letter);
  right: 10%;
  bottom: 5%;
  text-align: right;

/*     unicode-bidi: bidi-override;
    direction: rtl;
    text-orientation: upright;
    writing-mode: vertical-rl;
    letter-spacing: -20px; */
}

.red {
  color: red;
}
.black {
  color: black;
}

.back{
  color: black;
  writing-mode: vertical-lr;
  font-size: 0;
  background:
  repeating-linear-gradient(135deg, white, white 1px, transparent 1px, transparent 6px),

  repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 6px),

  repeating-linear-gradient(135deg, #EF5350, #EF5350 20px, transparent 20px, transparent 20px),

  repeating-linear-gradient(45deg, #EF5350, #EF5350 15px, white 15px, white 20px);

}
.back:before,.back:after{
  content: '';
}
