.deck{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.inline>li{
  box-shadow: none;
  margin: 0 1px;
}
.inline>li.red{
  border: 1px solid red;
}
.inline>li.black{
  border: 1px solid black;
}
.rotate>li{
  margin: 0 -10px;
  z-index: 3;
}

.dealer>li{
  margin-right: 0.2vw;
}
.dealer>li:nth-child(3){
  margin-right: 0.5vw;
}
.dealer>li:nth-child(4){
  margin-right: 0.5vw;
}

.covered{
  padding: 11px 0px;
}

.card {
  max-width: 10vw;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 0 0.3vmin 0 rgba(0,0,0,0.3);
  display: flex;
  position: relative;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 80ms ease-in;
  margin: 0 3px;
}
.hover:hover{
  transform: scale(1.5) rotate(0deg) !important;
  z-index: 5;
}
.activeHover{
  transform: scale(1.5) rotate(0deg) !important;
}
.active{
  margin-top: -2vh;
}

.card:before, .card:after {
  position: absolute;
  word-wrap: break-word;
  line-height: 1;
}

.card:before {
  content: attr(data-letter);
  left: 10%;
  top: 5%;
  text-align: left;
}

.card:after {
  content: attr(data-reverse-letter);
  right: 10%;
  bottom: 5%;
  text-align: right;
}

.red {
  color: red;
}
.black {
  color: black;
}

.back{
  color: black;
  background-color: #a0a0b5;
}
.back:before,.back:after{
  content: '';
}
.backContainer{
  height: 100%;
  flex: 1;
  display: flex;
}
.backLogo{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 25%;
  flex: 1;
  filter: brightness(2000%) opacity(0.6);
}
.backText{
  flex:1;
}
