@import "../../constants/styles";

.navBar{
  display: flex;
  height: 5vh;
}

.navItem{
  flex: 1;
  text-align: center;
  border: 1px solid $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.avatar{
  background-color: $gray;
  background-size: cover;
  position: relative;
  top: -7vh;
  height: 350%;
}

.navItemActive{
  border-bottom: none;
}
