@import "../../constants/styles";

.app {
}

.day {
  background:url('../../assets/pattern-white.png');
  background-color: white;
}

.night {
  background:url('../../assets/pattern-black.png');
  background-color: appBackgroundColor;
}
