@import "../../constants/styles";

.header {
  width: 100%;
  display: flex;
  background-color: #535168;
  box-shadow: 0 0 10px 0 #000000;
  position: fixed;
  z-index: 4;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.title {
  color: #b4b4cc;
  font-size: 2em;
  padding: 0.5em;
  font-weight: bold;
  display: flex;
  line-height: 1.1em;
  cursor: default;
  text-transform: uppercase;
  user-select: none;

  .titleImg {
    height: 1em;
    padding-right: 0.2em;
  }
}

/* topMenu */
.triggerContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor:pointer;

  .avatar {
    margin-right: 0.5em;
  }

  .configPointer {
    width: 10px;
    height: 5px;

    border-left: solid 5px #535168;
    border-right: solid 5px #535168;
    border-top: solid 5px #a0a0b5;
  }
}

.triggerContainer:hover{
  .configPointer {
    border-top: solid 5px #41c86a;
  }
}

.container {
  display: flex;
  padding: 1.43em;
  padding-top: 5.3em;
}

.mobileContainer {
  padding: 1.43em;
  padding-top: calc(100px + 1.4em);
}

.navbar {
  position: relative;
  flex: 1;
}

.topMenu {
  background-color: white;
  border-radius: 0.4em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-bottom: 0.8em;
}

.topMenuItem{
  margin-top: 0.7em;
}

.topMenuClickableItem:hover{
  color: #3cb861;
}

.signedInAsCard {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;

  img {
    border-radius: 50%;
    width: 2.7em;
    height: 2.7em;
    margin-right: 0.65em;
  }
}

.email {
  color: #a2a2a2;
  font-size: 0.85em;
}

.signedInAsCard :hover {
  color: #3cb861;

  .email{
    color: #3cb861;
  }
}

.name {
  font-size: 0.85em;
}

.divider {
  border-top: 1px solid #e4e4e4;
}

.content {
  flex: 4.5;
}

.logo {
  padding: 10px;
}
